/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.mobile
*/

div.right-nav
{
    position:fixed;
    right:0;
    width: 18px;
    top:42px;
    height: 100%;
    opacity: 0.5;
    z-index: 30;
}

div.ui-content-auro-brands
{
    margin-right: 18px;
}

span.first-letter-nav
{
    padding-left: 2px;
    font-size: 18px;
}