<div class="span9 offset2">
  <%= render 'tool_types/nav' %>

  <div class="page-header">
    <h1>
      <%= t('new') %><%= ServiceVehicle.model_name.human %>
    </h1>
  </div>
  <%= render 'form' %>
</div>
