<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kalading" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body style="padding-top: 10px; padding-left: 40px">
    <a class="btn btn-primary pull-right" id="print-btn" onclick="$('#print-btn').hide(); window.print(); $('#print-btn').show();"><%= t(:print) %></a>
    <% @storehouse.users.each do |u|%>
    <% tomorrow_orders = u.serve_orders.where(:serve_datetime.lte => Date.tomorrow.end_of_day, :serve_datetime.gte => Date.tomorrow.beginning_of_day) %>
    <% if tomorrow_orders.count > 0 %>
    <h3 class="text-center"><%= t :kalading_dispatch_card %></h3>
    <div class="row">
      <div class="span12">
        <p><b><%= t :order_count %>:</b> <%= tomorrow_orders.count %>&nbsp&nbsp&nbsp&nbsp<b><%= t :engineer %>:</b> <%= u.name %>&nbsp&nbsp&nbsp&nbsp<b><%= t :belong %>:</b> <%= u.storehouse.name %></p> 
      </div>
      <div class="span12">
        <p><b><%= t :serve_datetime %>:</b> <%= Date.tomorrow.to_s %>&nbsp&nbsp&nbsp&nbsp<b><%= t :print_time %>:</b> <%= DateTime.now.strftime('%Y-%m-%d %H:%M').to_s  %>&nbsp&nbsp&nbsp&nbsp<b><%= t :deliverer %>:</b></p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
      <table class="table table-bordered table-condensed">
        <thead>
            <tr>
              <th width="10%"><%= t :order_id %></th><th width="10%"><%= t :state %></th><th width="40%"><%= t :service_done_info %></th><th width="40%"><%= t :pay_info %></th>  
            </tr>
        </thead>
        <tbody>
          <% tomorrow_orders.each do |o| %>
            <tr>
              <td><b><%= o.seq %></b></td><td><%= t(Order::STATE_STRINGS[o.state]) %></td><td></td><td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
    <% end %>
    <% end %>
  </body>
</html>
