<p id="notice"><%= notice %></p>

<p>
  <%= @tool_record.engineer_name %>
</p>
  <% @tool_record.pictures.each do |p| %>
  <p>
  <%= image_tag p.p.url %>
  </p>
  <% end %>
</p>
<%= link_to 'Back', tool_records_path %>
