<div class="page-header">
  <h3><%= t('edit_applicable_automodel') + ' - ' + @part.part_type.name + ': ' + @part.part_brand.name + ' ' + @part.number %></h3>
</div>

<div id="part_auto_submodels"><%= render 'auto_submodels' %></div>

