<%- model_class = Notification -%>
<div class="page-header">
  <h1><%=t('edit_notification') %></h1>
</div>
<%= render :partial => 'form' %>

<%= link_to 'Show', @notification %> |
<%= link_to 'Back', notifications_path %>
