<div class="modal fade" id="progress-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p id="progress-text-p"><%= t :pending_operation %></p>
      </div>
    </div>
  </div>
</div>