<div id="modal-prompt" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true"></div>
<script type="text/javascript">
  function new_order_prompt() {
    <% if part_deliver_state.nil? %>
      $.getScript("<%= order_prompt_path states: states %>");
    <% elsif states %>
      $.getScript("<%= order_prompt_path(states: states, part_deliver_state: part_deliver_state) %>");
    <% end %>
    setTimeout(function() {new_order_prompt();}, 1000*60*5);
  }
  $(function() {
    setTimeout(function() {new_order_prompt();}, 1000*60*5);
});
</script>