<% if @order.auto_submodel %>
<table class="table table-striped">
  <% for st in @order.auto_submodel.applicable_service_types %>
    <tr>
      <td>
        <%= check_box_tag "order[service_type_ids][]", "#{st.id}", @order.service_types.include?(st), {:id => "st_#{st.id}"} %>
        <%= label_tag "st_#{st.id}", st.name, {class: "checkbox inline"} %>
      </td>
      <td><%= humanized_money_with_symbol st.price %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <div><p><%= t(:auto_model_nil) %></p></div>
<% end %>
