<%= simple_form_for @part_brand, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: t(:part_brand_name) %>
  <div class="form-actions">
    <%= f.button :submit, t(:submit), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                part_brands_path, :class => 'btn' %>
  </div>
<% end %>
