<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kalading</title>
    <%= stylesheet_link_tag "doc/api", media: "all" %>
    <%= javascript_include_tag "doc/api" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
