<!DOCTYPE html>
<html lang="zh-CN">
  <%= render '/layouts/header' %>
  <body>
    <%= render '/layouts/menu' %>
    <%= yield %>
    <footer>
      <p>&copy; Kalading 2013-2015</p>
    </footer>
  </body>
</html>
