<!DOCTYPE html>
<html lang="zh-CN">
  <%= render '/layouts/header' %>
  <body>
    <%= render '/layouts/menu' %>

    <div class="container-fluid">
      <div class="row-fluid">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>

    <footer>
      <p>&copy; Kalading 2013-2015</p>
    </footer>

  </body>
</html>
