<!DOCTYPE html>
<html>
<head>
  <title>Kalading</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "mobile/application.mobile.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag "mobile/application.mobile.js" %>
  <%= yield %>
</body>
</html>
